<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Search</title>
    <link
      href="https://unpkg.com/treeflex/dist/css/treeflex.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="header">
      <h1>
        <a href="employees" class="header-link">Employee Hierarchy</a>
      </h1>
      <div class="upload-form">
        <form action="/employees" method="post" enctype="multipart/form-data">
          <input type="file" name="file" />
          <input type="submit" value="Upload" />
        </form>
      </div>
    </div>

    <% if (locals.fileContents) { %>
    <h2><%= locals.name %></h2>
    <div class="tf-tree"><%- include('list'); %></div>
    <% } %>
  </body>
</html>
